.password-container {
    position: relative;
  }
  
  #togglePasswordBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
  }
  