.slider {
  width: 400px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 400px;
  height: 200px;
  display: none;
  position: absolute;
}

.active {
  display: block;
}
